// IMPORT RESETS //
@import "base/variable";
@import 'base/resets';
@import "base/utilidades";

// IMPORT NAVBAR //
@import 'components/navbar';

//IMPORT FOOTER//
@import "components/footer";

//IMPORT LAYOUT //
@import "layout/mantenimiento";
@import 'layout/index';
@import "layout/nosotros";
@import "layout/cuidados";
@import "layout/mediaqueries";


/*
#carouselExample{
    width: 400px;
    height: 400px;
    margin: auto;
}
*/