// IMPORT RESETS //
@import 'base/resets';

// IMPORT NAVBAR //
@import 'components/navbar';

// IMPORT INDEX //
@import 'layout/index';

//IMPORT ABOUT US //
@import "layout/nosotros";

//IMPORT ABOUT US //
@import "layout/cuidados";

//IMPORT FOOTER//
@import "components/footer";

//IMPORT MANTENIMIENTO//
@import "layout/mantenimiento";


/*
#carouselExample{
    width: 400px;
    height: 400px;
    margin: auto;
}
*/