//CAROUSEL DE FONDO//
.fondo {
    width: 100%;
    height: 100vh;

    .carousel {
        width: 100%;
        height: 100vh;                                                    
        position: absolute;
        margin-top: 3%;
        animation: slide-fade 15s infinite;
        opacity: 0;

        &:nth-child(1) {
            animation-delay: 0s;
        }

        &:nth-child(2) {
            animation-delay: 5s;
        }

        &:nth-child(3) {
            animation-delay: 10s;
        }
    }

    img {
        @include imagenes (100%, 100%, cover);
    }
}

@keyframes slide-fade {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}


//LANZAMIENTOS//
.lanzamientos,
.ofertas {
    text-align: center;
    font-family: 'Teko', sans-serif;
    padding: 20px;
    text-transform: uppercase;
    padding-top: 50px;
}

.imagenes-lanzamiento {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*auto-fit ya me hace todos los grids responsive*/
    gap: 20px;
}

.bodyimagenes {
    display: grid;
    grid-template-rows: auto 1fr auto;

    p {
        margin-top: 17px;
        padding: 2px;
        font-family: 'Konkhmer Sleokchher';
        font-size: x-large;
    }

    h2 {
        margin-top: 17px;
        padding: 2px;
        font-family: 'Roboto', sans-serif;
        z-index: 1;
    }

    img {
        max-width: 100%;
    }
}

//SECCIONES//
.secciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.bodysecciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin: 29px;*/
    position: relative;

    p {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        color: white;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.buzito {
    clip-path: inset(32px 0 30px 0);
}

.tachado {
    text-decoration: line-through;
    color: rgb(240, 72, 72);
}

//OFERTAS//
.card-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 100px;
    height: auto;
    margin: 10px;
    border-style: none;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.bodyimagenes {
    padding-top: 3%;
}

//CUIDADOS - NOSOTROS//
.extras {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    margin: 0px;
    padding-left: 16px;
}

.extras2 {
    display: inline-block;
    margin: 38px;

    h2 {
        position: relative;
        text-align: center;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        color: white;

    }

    img {
        width: 100%;
        height: 100%;
    }
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

/*--------PSEUDOCLASES---------------------------------*/

.imagenes-lanzamiento .bodyimagenes img {
    transition: $transition;

    &:hover {
        transform: $minizoom;
    }
}

.whatsapp {
    transition: $transition;

    &:hover {
        transform: $minizoom;
    }
}

.secciones .bodysecciones img {
    transition: $transition;

    &:hover {
        filter: $difuminado;
    }
}

.redes .imagenesylogos img {
    transition: filter $transition;

    &:hover img {
        filter: $difuminado;
    }
}

.extras .extras2 img {
    transition: $transition;

    &:hover {
        filter: $difuminado;
    }
}

.card-container1 .card img {
    transition: $transition;

    &:hover {
        transform: $minizoom;
    }
}

.grilla2 .grilla__hijo2 img {
    transition: $transition;

    &:hover {
        transform: $minizoom;
    }
}

/*----------------------------------------------------*/

//GRILLA EJEMPLO//
.grilla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 500px);
    grid-template-areas: 
    "area1 area1 area2 area2"
    "area1 area1 area3 area4"
    ;
    gap: 15px;
    padding: 15px;
    justify-items: center;
}

.grilla__hijo {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #CC9544;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeee;

}

.grilla__hijo img {

    width: 100%;
    height: 100%;
}

.g1 {
    grid-area: area1;
}

.g2 {
    grid-area: area2;
}

.g3 {
    grid-area: area3;
}

.g4 {
    grid-area: area4;
}

@for $padding from 1 through 12 {
    .pad-#{$padding} {
        padding: 2px * $padding;
    }
}