.compraitem1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.image1 img {
    width: 500px;
    height: auto;
    flex: 1;
    transition: $transition;

    &:hover {
        transform: $minizoom;
    }
}

.desc1 {
    margin-left: 30px;
    flex: 1;
    max-width: 50%;
}



.compraitem2 {
    display: flex;
    align-items: center;
    margin-top: 32px;
    flex-wrap: wrap;
}

.image2 img {
    
    margin-left: 30%;
    width: 500px;
    height: auto;
    flex: 1;
    transition: $transition;

    &:hover {
        transform: $minizoom;
    }
}

.desc2 {
    margin-right: 30px;
    flex: 1;
    max-width: 50%;
    padding-left: 5%;
}