footer ul {

    list-style: none;
}

.ubi {
    padding-top: 15px;
}

.menu ul {
    position: relative;
    bottom: 65px;
}

.contacto ul {

    position: relative;
    bottom: 90px;
}

.footer ul li h2 {
    font-family: 'Teko', sans-serif;
}

.footer ul li {
    font-family: sans-serif;
}