footer ul {
    list-style: none;
    display: inline-block;

    li {
        font-family: sans-serif;

        h2 {
            font-family: 'Teko', sans-serif;
        }
    }
}

.ubi {
    padding-top: 15px;
}

.menu ul {
    position: relative;
    bottom: 65px;
}

.contacto ul {

    position: relative;
    bottom: 90px;
}
