.header {
    background-color: white;
    padding: 0px;
    width: 100%;
    height: auto;
    border-bottom: solid 1px black;
    position: fixed;
    z-index: 9999;
}

.logo {
    width: 30px;
    height: auto;
    border-radius: 100%;
    border-bottom-style: none;

}

.menu-navegador {
    @include flexbox(row, space-between, center, wrap, 10px);

    ul {
        list-style-type: none;
        font-size: 20px;
        @extend .mp0;

        li {
            display: inline-block;
            padding: 7px;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                color: black;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                /*mayusculas*/

                &:hover {
                    background-color: #ddd;
                    font-weight: bold;
                }
            }
        }
    }
}

.imagenes-header {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;

    img {
        width: 30px;
        height: 30px;
        padding: 2px;
        border-radius: 100%;
    }
}