@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

h1 {
    color: red;
}

a {
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}

.fondo img {
    width: 100%;
}

/* Media queries*/
/*haciendo responsive el menu navegador a tamaños muy pequeños (utlizando F12)*/
@media only screen and (max-width: 592px) {

    .header {
        width: 100%;
        height: 104px;
    }
}

@media only screen and (max-width: 389px) {

    .header {
        width: 100%;
        height: 150px;
    }
}


@media only screen and (max-width: 336px) {

    .header {
        width: 100%;
        height: 190px;
    }
}